<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>实景效果图</string>
		<key>exttime</key>
		<string>20171101142829</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>东易~谭外华</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57563</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>挑战者，突破</string>
		<key>rownum_</key>
		<integer>101</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/73731509517689351.jpg</string>
		<key>title</key>
		<string>实景效果图</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57563&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13416713574</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>1、想钓到鱼，就要像鱼那样思考;2、不要总显示比别人聪明;3、让对方作主角，自己甘愿做配角;4、目中无人，让你一败涂地;5、常与人争辩，你永难赢;6、锋芒太露,下场不好;7、刺猬原则-保持适当距离;8、树一个敌，等于立一堵墙;9、谦虚不虚伪，不苛求完美;10、失言不如无言。</string>
		<key>exttime</key>
		<string>20171101142428</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>森馥雅香薰-行政</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://static.soperson.com/itver/17621162737/20170902/54091509517465783.jpg?w=1560&amp;h=2080</string>
		</array>
		<key>pid</key>
		<integer>57562</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/17621162737/20170902/8701504336610942.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>rownum_</key>
		<integer>102</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/17621162737/20170902/54091509517465783.jpg?w=1560&amp;h=2080</string>
		<key>title</key>
		<string>1、想钓到鱼，就要像鱼那样思考;2、不要总显示比别人聪明;3、让对方作主角，自己甘愿做配角;4、目中无人，让你一败涂地;5、常与人争辩，你永难赢;6、锋芒太露,下场不好;7、刺猬原则-保持适当距离;8、树一个敌，等于立一堵墙;9、谦虚不虚伪，不苛求完美;10、失言不如无言。</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=57562&amp;promote=12345678910</string>
		<key>userid</key>
		<string>17621162737</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>落地为王</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=34133&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>共勉</string>
		<key>exttime</key>
		<string>20171101141621</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>高雪丽</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://static.soperson.com/itver/13817556393/20170909/35191509516971560.jpg?w=1080&amp;h=1920</string>
			<string>http://static.soperson.com/itver/13817556393/20170909/24161509516972449.jpg?w=1080&amp;h=1920</string>
			<string>http://static.soperson.com/itver/13817556393/20170909/66461509516972056.jpg?w=1080&amp;h=1920</string>
		</array>
		<key>pid</key>
		<integer>57558</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13817556393/20170909/97291505377449812.png</string>
		<key>remark</key>
		<string>率性而为</string>
		<key>rownum_</key>
		<integer>103</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/13817556393/20170909/35191509516971560.jpg?w=1080&amp;h=1920</string>
		<key>title</key>
		<string>共勉</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=57558&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13817556393</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>http://static.soperson.com/itver/18222597124/20170808/49641505827677434.png</string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>东易日盛</string>
		<key>exttime</key>
		<string>20171101141131</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>天津东易日盛装饰-衣</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57557</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/18222597124/20170808/57431502174357970.png</string>
		<key>remark</key>
		<string>装饰美感空间，铸就幸福生活！</string>
		<key>rownum_</key>
		<integer>104</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/15/2016/note_icon.png</string>
		<key>title</key>
		<string>东易日盛</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57557&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18222597124</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>http://static.soperson.com/itver/18222597124/20170808/49641505827677434.png</string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>拥有专业的团队，装修没有“冬眠期”。看我们每天的工地，天津600多户在施工地进行中！感谢您对东易的信任，愿竭诚为您打造温暖的家</string>
		<key>exttime</key>
		<string>20171101140807</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>天津东易日盛装饰-衣</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57555</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/18222597124/20170808/57431502174357970.png</string>
		<key>remark</key>
		<string>装饰美感空间，铸就幸福生活！</string>
		<key>rownum_</key>
		<integer>105</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/18222597124/20171019/60131509516446401.jpg</string>
		<key>title</key>
		<string>诗意的喝茶赏雪，等待诗意的栖居！装修就交给专业的东易人</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57555&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18222597124</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>陕北黄河滩枣自然成熟，颗颗精挑细选，特级红枣正在发货中∽</string>
		<key>exttime</key>
		<string>20171101140710</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>粉丝5559</string>
		<key>optcomment</key>
		<array>
			<dict>
				<key>approve</key>
				<integer>0</integer>
				<key>message</key>
				<string>今天的订单都发货了，稍后一一把货单号发给大家</string>
				<key>nick</key>
				<string>粉丝5559</string>
				<key>optid</key>
				<string>e6182304fd6e46acb009498f0e12a0d7</string>
				<key>opttype</key>
				<integer>1</integer>
				<key>portrait</key>
				<string>http://static.soperson.com/itver/15389405559/20171030/16841509362521001.jpg</string>
				<key>remark</key>
				<string>这个家伙很懒~</string>
				<key>touser</key>
				<string>nil</string>
				<key>userid</key>
				<string>15389405559</string>
			</dict>
		</array>
		<key>optthumb</key>
		<array>
			<dict>
				<key>approve</key>
				<integer>0</integer>
				<key>nick</key>
				<string>粉丝5559</string>
				<key>optid</key>
				<string>26c16fef17cc43aaa3b72bac69967df5</string>
				<key>opttype</key>
				<integer>0</integer>
				<key>portrait</key>
				<string>http://static.soperson.com/itver/15389405559/20171030/16841509362521001.jpg</string>
				<key>remark</key>
				<string>这个家伙很懒~</string>
				<key>userid</key>
				<string>15389405559</string>
			</dict>
		</array>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://static.soperson.com/itver/15389405559/20171030/25581509516416105.jpg?w=1040&amp;h=1386</string>
			<string>http://static.soperson.com/itver/15389405559/20171030/24461509516422793.jpg?w=1080&amp;h=1440</string>
			<string>http://static.soperson.com/itver/15389405559/20171030/69001509516425511.jpg?w=1080&amp;h=1905</string>
		</array>
		<key>pid</key>
		<integer>57554</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/15389405559/20171030/16841509362521001.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>rownum_</key>
		<integer>106</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/15389405559/20171030/25581509516416105.jpg?w=1040&amp;h=1386</string>
		<key>title</key>
		<string>陕北黄河滩枣自然成熟，颗颗精挑细选，特级红枣正在发货中∽</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=57554&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15389405559</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>专业国际快递空运海运进出口-，一手庄家。</string>
		<key>exttime</key>
		<string>20171101140410</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>fast post</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57553</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13816443935/20171026/69601508988394493.png</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>rownum_</key>
		<integer>107</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/15/2016/note_icon.png</string>
		<key>title</key>
		<string>上海迅邮国际进出口物流有限公司</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57553&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13816443935</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>http://static.soperson.com/itver/15652673333/20170719/16031500438442888.jpg</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>活学易经，福种万家，可以帮助更多的有缘人</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=32536&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>10039934</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>阴阳五行天干地支(八字基础知识之一）五行：金、木、水、火、土。五行四方：东方属木，南方属火，西方属金，北方属水，中央属土。五行生克五行相生:金生水,水生木,木生火,火生土,土生金.五行相克:金克木,木克土,土克水,水克火,火克金.五行生克制化宜忌:金:金旺得火,方成器皿.金能生水,水多金沉;强金得水,方挫其锋.金能克木,木多金缺;木弱逢金,必为砍折.金赖土生,土多金埋;土能生金,金多土变.木:木旺得金,方成栋梁.木能生火,火多木焚;强木得火,方化其顽.木能克土,土多木折;土弱逢木,必为倾陷.木赖水生,水多木漂;水能生木,木多水缩.水:水旺得土,方成池沼.水能生木,木多水缩;强水得木,方泄其势.水能克火,火多水干;火弱遇水,必不熄灭.水赖金生,金多水浊;金能生水,水多金沉.火:火旺得水,方成相济.火能生土,土多火晦</string>
		<key>exttime</key>
		<string>20171101134452</string>
		<key>issue</key>
		<integer>2</integer>
		<key>nick</key>
		<string>易圣金钥匙-周治梒15652673333</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57550</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/15652673333/20170719/35561500438013126.jpg</string>
		<key>remark</key>
		<string>易行天下，福种万家，活学易经，帮助更多的有缘人。</string>
		<key>rownum_</key>
		<integer>108</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/15652673333/20170719/36391509515002379.jpg</string>
		<key>title</key>
		<string>阴阳五行天干地支(八字基础知识之一）五行：金、木、水、火、土。
</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57550&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15652673333</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>http://static.soperson.com/itver/13924336748/20170808/7201502164449567.jpg</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>东易日盛家装上市公司股票代码002713</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=32973&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>欧式风格案例！</string>
		<key>exttime</key>
		<string>20171101133310</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>东易日盛家装上市公司–赵先生</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57548</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13924336748/20170808/56431502455100518.jpg</string>
		<key>remark</key>
		<string>国内第一，家装行业领导者，一直被模仿，从未被超越。(东易日盛就是牛)</string>
		<key>rownum_</key>
		<integer>109</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/13924336748/20171017/43661509514361933.jpg</string>
		<key>title</key>
		<string>欧式风格案例！</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57548&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13924336748</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>http://static.soperson.com/itver/18201377220/20170831/5591506255462499.jpg</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>东易日盛天津市武清分公司</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=33673&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>如果没有设计师，自己装修房子得话，设计不算在内。你要选28种辅材，至少要了解35项基础工程，至少要购买8种主材，至少选购62件家具和配饰，你至少要去到100多家店铺和将近100人讨价还价，购买近200个商品。至少需要用100天，就不算您假期、油费、停车费、夫妻争吵的成本，您还要承担一半的机率：东西买贵（你还得去市场上讨价还价，现在的小年轻你适合吗？网上淘，不专业熟悉网络的哪又怎么办呢？）、买不合适、最终效果不好（哪怕效果图按网上搜索来的比对，环境不一样，空间不一样等因素都达不到你想要的效果的）！这一切，因为有设计师的存在而降低失败的风险。较真的我忍不住算了下(辅材主材概念可能不同，但是遵循市场大多数认可选择)</string>
		<key>exttime</key>
		<string>20171101132853</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>东易日盛装饰_董强℡18201377220</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57547</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/18201377220/20170831/27751506255521430.jpg</string>
		<key>remark</key>
		<string>认真负责的去对待每一户业主</string>
		<key>rownum_</key>
		<integer>110</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/18201377220/20171018/50971509513731873.jpg</string>
		<key>title</key>
		<string>如果没有设计师，你得选100多种材料，最少浪费半年时间</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57547&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18201377220</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>如果没有设计师，业主最少要选100种材料，最少浪费半年时间你知道我为何要这么说吗？.........</string>
		<key>exttime</key>
		<string>20171101122810</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>东易日盛天津分公司-徐婷13752481825</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57542</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13752481825/20170831/89341504149430332.jpg</string>
		<key>remark</key>
		<string>好装修，才能配得上您的好房子。</string>
		<key>rownum_</key>
		<integer>111</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/13752481825/20170831/20491509510466764.jpg</string>
		<key>title</key>
		<string>如果没有设计师，你得选100多种材料，最少浪费半年时间。</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57542&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13752481825</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>东易日盛天津分公司</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=33105&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>拥有专业的团队，装修没有“冬眠期”。看我们每天的工地，天津600多户在施工地进行中！感谢您对东易的信任，愿竭诚为您打造温暖的家</string>
		<key>exttime</key>
		<string>20171101115812</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>东易日盛天津分公司张云13682168256</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57540</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13682168256/20170817/44711502941981510.png</string>
		<key>remark</key>
		<string>祝您生活愉快</string>
		<key>rownum_</key>
		<integer>112</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/13682168256/20171017/34111509508678117.jpg</string>
		<key>title</key>
		<string>诗意的喝茶赏雪，等待诗意的栖居！装修就交给专业的东易人！</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57540&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13682168256</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>http://static.soperson.com/itver/13071176479/20170808/32771502171462557.png</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>东易日盛</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=32884&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>👍👍👍</string>
		<key>exttime</key>
		<string>20171101113637</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>白萝卜和红萝卜</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57539</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13071176479/20170808/77381502171447546.png</string>
		<key>remark</key>
		<string>。.ajpwm</string>
		<key>rownum_</key>
		<integer>113</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/15/2016/note_icon.png</string>
		<key>title</key>
		<string>👍👍👍</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57539&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13071176479</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>http://static.soperson.com/itver/15128691602/20160723/88111469603709738.jpg</string>
		<key>compid</key>
		<integer>10000008</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>Talk99每月都会在全国范围内针对大家的最新需求进行培训，大家可提前安排时间预约培训名额。另外，北京每周四会定期举办沙龙探讨会，每周五进行Talk99各项功能的操作使用培训。</string>
		<key>exttime</key>
		<string>20171101112402</string>
		<key>issue</key>
		<integer>1</integer>
		<key>nick</key>
		<string>Talk99小编</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57537</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/15128691602/20160905/27881473228494691.jpg</string>
		<key>remark</key>
		<string>Talk99</string>
		<key>rownum_</key>
		<integer>114</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/15128691602/20171017/74921509507164616.jpg</string>
		<key>title</key>
		<string>11月份，Talk99移动营销培训课程表</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57537&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15128691602</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>http://static.soperson.com/itver/15128691602/20160723/88111469603709738.jpg</string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>  11月份，Talk99移动营销培训课程表

？1、让你全面了解移动互联网营销现状
？2、教你如何七个步骤做好移动营销
？3、根据行业特征，全面分析讲解那些成功的快消品、非快消品行业是如何顺利开展移动营销的？
4、你回去该怎么做？如何落地？
……

报名电话
4000-789-818
4000-121-119


</string>
		<key>exttime</key>
		<string>20171101111904</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>Talk99小编</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://static.soperson.com/itver/15128691602/20171017/40961509505682419.jpg?w=699&amp;h=351</string>
		</array>
		<key>pid</key>
		<integer>57536</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/15128691602/20160905/27881473228494691.jpg</string>
		<key>remark</key>
		<string>Talk99</string>
		<key>rownum_</key>
		<integer>115</integer>
		<key>spreadparams</key>
		<dict>
			<key>name</key>
			<string>进店看看</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/item?s=23669&amp;p=95374&amp;promote=12345678910&amp;promote=12345678910</string>
		</dict>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/15128691602/20171017/40961509505682419.jpg?w=699&amp;h=351</string>
		<key>title</key>
		<string>  11月份，Talk99移动营销培训课程表

？1、让你全面了解移动互联网营销现状
？2、教你如何七个步骤做好移动营销
？3、根据行业特征，全面分析讲解那些成功的快消品、非快消品行业是如何顺利开展移动营销的？
4、你回去该怎么做？如何落地？
……

报名电话
4000-789-818
4000-121-119


</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=57536&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15128691602</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>东易日盛天津分公司</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=33132&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>拥有专业的团队，装修没有“冬眠期”。看我们每天的工地，天津600多户在施工地进行中！感谢您对东易的信任，愿竭诚为您打造温暖的家</string>
		<key>exttime</key>
		<string>20171101111756</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>东易日盛天津郝然然13370453878</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57535</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13370453878/20170817/32861502938302913.jpg</string>
		<key>remark</key>
		<string>愿你足够努力，足够幸运，质量并存</string>
		<key>rownum_</key>
		<integer>116</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/13370453878/20170817/54321509506204744.jpg</string>
		<key>title</key>
		<string>诗意的喝茶赏雪，等待诗意的栖居！装修就交给专业的东易人！</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57535&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13370453878</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>专业齐全的新特药店</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=30656&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>10040506</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>　　【人参肽是什么】　　人参肽是从人参中提取出的小分子活性肽，是人参的精华以小分子的形式存在，也是目前人参的最佳利用形式。</string>
		<key>exttime</key>
		<string>20171101110215</string>
		<key>issue</key>
		<integer>1</integer>
		<key>nick</key>
		<string>兴事堂药店李文竹</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57533</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/18618340435/20170413/25561498267293174.jpg</string>
		<key>remark</key>
		<string>专业齐全的新特药药店</string>
		<key>rownum_</key>
		<integer>117</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/18618340435/20171017/78461509503320117.jpg</string>
		<key>title</key>
		<string>北大医学部科研论证：人参肽的神奇功效</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57533&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18618340435</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>济宁银行</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=32550&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>10040631</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>1）补充丰富的营养成分经科学证实，诺丽果被称为“超级水果，”是和它富含150多种营养成分密切相关。其中包括13种维生素（A、B、C、E等），16种矿物质（钾、钠、锌、钙、铁、镁、磷、铜、硒等），8种微量元素，还包括9种人体所必需氨基酸在内的20多种氨基酸（是植物中含氨基酸种类最多的超强组合），10多种具有抗氧化作用的物质，还含有多种生物碱、多醣体、多种酵素等极具医学价值的成分，是天然的综合维他命，使细胞有充足营养。当细胞健康人体就健康。（2）天然的抗氧化剂，排除体内毒素。抗氧化剂是阻止氧气不良影响的物质。它是能帮助捕获并中和自由基，从而祛除自由基对人体损害的一类物质。而天然抗氧化剂主要是指水果和蔬菜中所含的抗氧化剂。诺丽果是富含天然抗氧化剂极高的水果之一，如维生素A、C、E、P、多酚等，例如维生素E和β-胡萝卜素可以保护细胞膜；维生素C可以排出细胞内的自由基等等。天然抗氧化剂可以帮助人类预防心脏病和癌症等多种疾病，并能增进脑力，延缓衰老。</string>
		<key>exttime</key>
		<string>20171101105636</string>
		<key>issue</key>
		<integer>1</integer>
		<key>nick</key>
		<string>企业管理导师  五哥</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57532</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/18653711018/20170624/21611498267258641.png</string>
		<key>remark</key>
		<string>大家都开心快乐，企业健康发展就是我最大的心愿</string>
		<key>rownum_</key>
		<integer>118</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/15/2016/note_icon.png</string>
		<key>title</key>
		<string>诺丽果酵素的功效</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57532&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18653711018</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>东易日盛#大咖来袭#设计师—彭天诚设计理念:？设计的初衷是提高生活品质预约大咖：13285798180</string>
		<key>exttime</key>
		<string>20171101105422</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>轩尼</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57531</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13285798180/20170808/43831502188902624.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>rownum_</key>
		<integer>119</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/13285798180/20170808/93831509504859468.jpg</string>
		<key>title</key>
		<string>东易日盛#大咖来袭# 设计师—彭天诚 设计理念:？设计的初衷是提高生活品质 预约大咖：13285798180</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57531&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13285798180</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>东易日盛装饰</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=33063&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>东易日盛#大咖来袭#设计师—彭天诚设计理念:？设计的初衷是提高生活品质预约大咖：15067095889</string>
		<key>exttime</key>
		<string>20171101104832</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>金华东易王成棋</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>57530</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/15067095889/20170808/37711502172157251.png</string>
		<key>remark</key>
		<string>利群</string>
		<key>rownum_</key>
		<integer>120</integer>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>http://static.soperson.com/itver/15067095889/20170808/621509504505527.jpg</string>
		<key>title</key>
		<string>明日之家#大咖来袭#
设计师—彭天诚
设计理念:？设计的初衷是提高生活品质
预约大咖：15067095889</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=57530&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15067095889</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
