<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/18609152580/20170912/72301505185294981.jpg</string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>【通知通知通知10.28结婚的新人注意啦各自安排好线路，和出发时间😊】</string>
		<key>exttime</key>
		<string>20171021160302</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>董锦丽</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56038</integer>
		<key>portrait</key>
		<string>/itver/_img/18609152580/20170912/72001505185160968.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/18609152580/20170912/8101508572961860.jpg</string>
		<key>title</key>
		<string>【通知通知通知10.28结婚的新人注意啦
各自安排好线路，和出发时间 😊】</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56038&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18609152580</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/18609152580/20170912/72301505185294981.jpg</string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>通知通知10.28结婚的新人注意啦各自安排好线路，和出发时间😊</string>
		<key>exttime</key>
		<string>20171021155549</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>董锦丽</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56037</integer>
		<key>portrait</key>
		<string>/itver/_img/18609152580/20170912/72001505185160968.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/18609152580/20170912/56781508572448216.jpg</string>
		<key>title</key>
		<string>通知通知通知10.28结婚的新人注意啦
各自安排好线路，和出发时间 😊</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56037&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18609152580</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>河北金能电力科技股份有限公司</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=34052&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>工作之余，不忘享受生活，生活美好，才会更有动力去做好工作</string>
		<key>exttime</key>
		<string>20171021153847</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>马军华</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56036</integer>
		<key>portrait</key>
		<string>/itver/_img/15373956525/20170905/85571504601175316.jpg</string>
		<key>remark</key>
		<string>金能电力，电力工器具领导品牌！</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15373956525/20170905/52181508571523084.jpg</string>
		<key>title</key>
		<string>工作之余，不忘享受生活，生活美好，才会更有动力去做好工作</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56036&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15373956525</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>啊啊啊经纬电商讲课！</string>
		<key>exttime</key>
		<string>20171021152110</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>经纬电商静雯</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://static.soperson.com/itver/_img/18539951882/20170830/29881508570444471.jpg?w=2080&amp;h=1560</string>
		</array>
		<key>pid</key>
		<integer>56035</integer>
		<key>portrait</key>
		<string>/itver/_img/18539951882/20170830/20981508221506013.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict>
			<key>name</key>
			<string>进店看看</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=33640&amp;promote=12345678910&amp;promote=12345678910</string>
		</dict>
		<key>thumb</key>
		<string>/itver/_img/18539951882/20170830/29881508570444471.jpg?w=2080&amp;h=1560</string>
		<key>title</key>
		<string>啊啊啊经纬电商讲课！</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56035&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18539951882</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/13713417704/20170808/39831502164134082.jpg</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>装饰美好空间，筑就幸福生活。</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=32972&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>现代简约，舒适生活！</string>
		<key>exttime</key>
		<string>20171021151221</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>东莞.明日家具家居装饰顾问__刘宇</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56034</integer>
		<key>portrait</key>
		<string>/itver/_img/13713417704/20170808/91391502163869652.jpg</string>
		<key>remark</key>
		<string>虔诚的为客户服务，是东易的生存之本。</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/13713417704/20171017/7781508569932014.jpg</string>
		<key>title</key>
		<string>现代简约，舒适生活！</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56034&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13713417704</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/13066188660/20170808/56301502235239818.png</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>明日家具上市家装东莞分公司</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=32963&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>贺:麻涌碧桂园王总开工大吉！</string>
		<key>exttime</key>
		<string>20171021150110</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>明日家具东莞分公司 曾会娟</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56033</integer>
		<key>portrait</key>
		<string>/itver/_img/13066188660/20170808/92051502164525283.png</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/13066188660/20171018/10681508569214205.jpg</string>
		<key>title</key>
		<string>贺:麻涌碧桂园王总开工大吉！</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56033&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13066188660</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/13390558883/20171020/13161508496841547.png</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>专业配套生产销售纯实木总裁办公家具</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=35032&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>什么家具最环保，实木，佳诚全力打造全实木环保家具关爱总裁健康办公环境、香江家居旗舰店23997077、</string>
		<key>exttime</key>
		<string>20171021144827</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>佳诚九悦全实木办公</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56030</integer>
		<key>portrait</key>
		<string>/itver/_img/13390558883/20171020/72241508495704715.png</string>
		<key>remark</key>
		<string>纯实木环保总裁办公家具的缔造者</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/13390558883/20171020/37701508568411688.jpg</string>
		<key>title</key>
		<string>什么家具最环保，实木，佳诚全力打造全实木环保家具关爱总裁健康办公环境、香江家居旗舰店23997077、</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56030&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13390558883</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/18124379737/20170808/9981502455076344.jpg</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>明日家具装饰—东莞分公司【股票代码002713】</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=32966&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>东莞樟木头保利生态城大别墅来一套。</string>
		<key>exttime</key>
		<string>20171021144730</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>明日家具装饰集团：舒先生</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56029</integer>
		<key>portrait</key>
		<string>/itver/_img/18124379737/20170808/63761502455028790.jpg</string>
		<key>remark</key>
		<string>先做人、后做事、再赚钱。</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/18124379737/20170808/39111508568405698.jpg</string>
		<key>title</key>
		<string>东莞樟木头保利生态城大别墅来一套。</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56029&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18124379737</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/13390558883/20171020/13161508496841547.png</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>专业配套生产销售纯实木总裁办公家具</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=35032&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>演绎实木文化，佳诚-实木总裁办公家具—沈阳香江家具邀你品鉴-23997077</string>
		<key>exttime</key>
		<string>20171021144557</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>佳诚九悦全实木办公</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://static.soperson.com/itver/_img/13390558883/20171020/13771508568302542.jpg?w=828&amp;h=587</string>
			<string>http://static.soperson.com/itver/_img/13390558883/20171020/73021508568301961.jpg?w=828&amp;h=553</string>
			<string>http://static.soperson.com/itver/_img/13390558883/20171020/12431508568301986.jpg?w=828&amp;h=559</string>
		</array>
		<key>pid</key>
		<integer>56028</integer>
		<key>portrait</key>
		<string>/itver/_img/13390558883/20171020/72241508495704715.png</string>
		<key>remark</key>
		<string>纯实木环保总裁办公家具的缔造者</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/13390558883/20171020/13771508568302542.jpg?w=828&amp;h=587</string>
		<key>title</key>
		<string>演绎实木文化，佳诚-实木总裁办公家具—沈阳香江家具邀你品鉴-23997077</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56028&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13390558883</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/18522402104/20170908/54111504885231202.jpg</string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>？有些颜色很美，但并不一定适合你家。在选择色彩时，不能只看漂亮，还要用对地方。　　紫色给人压力　　大面积的深紫色会使空间整体色调变深，从而产生压抑感。建议不要放在需要欢快气氛的居室内，那样会使得身在其中的人有一种无奈的感觉。如果真的很喜欢，可以在居室的局部作为装饰亮点，比如卧房的布艺、卫浴间的帷帘等小地方。　　橙色不利于睡眠　　虽说橘红色给人感觉生气勃勃、充满活力，把橙色用在客厅就对了。用在餐厅也不错，可以诱发食欲，所以也是装点餐厅的理想色彩。但把它用在卧室则不容易使人安静下来，不利于睡眠。　　儿童房别用沉闷色　　咖啡色本身是一种比较含蓄的颜色，但它会使餐厅沉闷而忧郁，影响进餐质量；还不宜用在儿童房间内，暗沉的颜色会使孩子性格忧郁；还要切记，咖啡色不适宜搭配黑色。为了避免沉闷，可以用白色、灰色或米色等作为填补色，使咖啡色发挥出属于它的光彩。</string>
		<key>exttime</key>
		<string>20171021144343</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>明日家具天津:燕妞18522402104</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56027</integer>
		<key>portrait</key>
		<string>/itver/_img/18522402104/20170908/34051507450491138.jpg</string>
		<key>remark</key>
		<string>只为成功找方法，不为失败找理由！</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15/2016/note_icon.png</string>
		<key>title</key>
		<string>哈喽，【家装小常识】分享时刻🍀</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56027&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18522402104</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/18578450036/20170808/78501502178474394.jpg</string>
		<key>companyparams</key>
		<dict>
			<key>favorite</key>
			<integer>1</integer>
			<key>name</key>
			<string>进店看看</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=23298&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>设计理念:？本案为三口之家。对生活有美好的向往与追求，男主人是传统的中国儒士，喜欢喝茶书法——？传统的中式风格如何结合现代家居，如何能保证客户在居住后保障美感以及生活上的便利，储藏空间的考虑是解决方案之一。？本案配色为：传统的中式色调，本案采光很好，所以在选择木作颜色上倾向了深色系，也让整个空间沉稳雅致。墙面整体使用月牙白，搭配木质装饰。木质的温润与传统中式雕花的搭配营造的温润儒雅的低奢质感。设计无法简单的表达，设计是润物细无声的人文关怀。</string>
		<key>exttime</key>
		<string>20171021144235</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>家装顾问陈东昌</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56026</integer>
		<key>portrait</key>
		<string>/itver/_img/18578450036/20170808/96441502175382963.jpg</string>
		<key>remark</key>
		<string>  明日家具愿景：成为最受尊敬的卓越的住宅装饰品牌运营商！使命：装饰美好空间，筑就幸福生活！</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/18578450036/20171017/61631508568144839.jpg</string>
		<key>title</key>
		<string>港西新城-中式风格-140平米</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56026&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18578450036</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>盛康集团同行业内首开网络营销</string>
		<key>exttime</key>
		<string>20171021144214</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>粉丝1303</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56025</integer>
		<key>portrait</key>
		<string>/itver/_img/15/2016/icon_portrait.png</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15655111303/20171021/89261508568064421.jpg</string>
		<key>title</key>
		<string>盛康集团同行业内首开网络营销</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56025&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15655111303</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>上海泛强贸易有限公司</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=33484&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>今天学习收获很多</string>
		<key>exttime</key>
		<string>20171021144031</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>清洁皇后</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56021</integer>
		<key>portrait</key>
		<string>/itver/_img/13818373783/20170831/41331504148460651.png</string>
		<key>remark</key>
		<string>不认输的女人</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/13818373783/20170831/40991508567991030.jpg</string>
		<key>title</key>
		<string>今天学习</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56021&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13818373783</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/17600224069/20170630/80861499234257107.jpg</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>talk99</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=32768&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>10040647</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>水果好多，好营养</string>
		<key>exttime</key>
		<string>20171021144029</string>
		<key>issue</key>
		<integer>1</integer>
		<key>nick</key>
		<string>talk99青青杨</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56020</integer>
		<key>portrait</key>
		<string>/itver/_img/17600224069/20170630/6221498788566051.jpg</string>
		<key>remark</key>
		<string>提供全网营销整体解决方案</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/17600224069/20170630/7571508567925034.jpg</string>
		<key>title</key>
		<string>第二期操作班</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56020&amp;promote=12345678910</string>
		<key>userid</key>
		<string>17600224069</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>样板房落地</string>
		<key>exttime</key>
		<string>20171021143647</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>粉丝8456</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56019</integer>
		<key>portrait</key>
		<string>/itver/_img/15/2016/icon_portrait.png</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/18825598456/20170904/74491508567772640.jpg</string>
		<key>title</key>
		<string>样板房落地</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56019&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18825598456</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>明日家具装饰</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=33102&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>东易精装工地</string>
		<key>exttime</key>
		<string>20171021143427</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>天津明日家具-赵坤18222499470</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56018</integer>
		<key>portrait</key>
		<string>/itver/_img/18222499470/20170817/36361502938269498.jpg</string>
		<key>remark</key>
		<string>装饰美好空间，筑就幸福生活！</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/18222499470/20171017/35661508567634246.jpg</string>
		<key>title</key>
		<string>东易精装工地</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56018&amp;promote=12345678910</string>
		<key>userid</key>
		<string>18222499470</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/15822996229/20170831/18711504169611219.png</string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>[玫瑰][玫瑰]明日家具恭祝港西新城贵府开工大吉:tada::tada::tada:，感谢您对明日家具的信任:heart::heart:我们会竭尽全力，为您呈现美丽的家:house_with_garden::house_with_garden:</string>
		<key>exttime</key>
		<string>20171021143355</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>明日家具石金凤15822996229</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://static.soperson.com/itver/_img/15822996229/20170831/59271508567631443.jpg?w=828&amp;h=621</string>
			<string>http://static.soperson.com/itver/_img/15822996229/20170831/36831508567630481.jpg?w=828&amp;h=621</string>
			<string>http://static.soperson.com/itver/_img/15822996229/20170831/24871508567630995.jpg?w=828&amp;h=621</string>
			<string>http://static.soperson.com/itver/_img/15822996229/20170831/97401508567631402.jpg?w=828&amp;h=621</string>
			<string>http://static.soperson.com/itver/_img/15822996229/20170831/84081508567630927.jpg?w=828&amp;h=621</string>
			<string>http://static.soperson.com/itver/_img/15822996229/20170831/1211508567630452.jpg?w=828&amp;h=1104</string>
		</array>
		<key>pid</key>
		<integer>56017</integer>
		<key>portrait</key>
		<string>/itver/_img/15822996229/20170831/28201504229340011.png</string>
		<key>remark</key>
		<string>石金凤15822996229</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15822996229/20170831/59271508567631443.jpg?w=828&amp;h=621</string>
		<key>title</key>
		<string>[玫瑰][玫瑰]明日家具恭祝港西新城贵府开工大吉🎉🎉🎉，感谢您对明日家具的信任❤️❤️我们会竭尽全力，为您呈现美丽的家🏡🏡</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56017&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15822996229</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>大气、沉稳～</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>匠程——石子珍</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://static.soperson.com/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
			<string>http://static.soperson.com/itver/_img/15921859561/20171021/55831508567420211.jpg?w=640&amp;h=360</string>
			<string>http://static.soperson.com/itver/_img/15921859561/20171021/83301508567421021.jpg?w=640&amp;h=360</string>
			<string>http://static.soperson.com/itver/_img/15921859561/20171021/58501508567419141.jpg?w=640&amp;h=360</string>
			<string>http://static.soperson.com/itver/_img/15921859561/20171021/74001508567420621.jpg?w=640&amp;h=360</string>
			<string>http://static.soperson.com/itver/_img/15921859561/20171021/3461508567421094.jpg?w=640&amp;h=360</string>
			<string>http://static.soperson.com/itver/_img/15921859561/20171021/80471508567419483.jpg?w=640&amp;h=360</string>
			<string>http://static.soperson.com/itver/_img/15921859561/20171021/69661508567420110.jpg?w=640&amp;h=360</string>
			<string>http://static.soperson.com/itver/_img/15921859561/20171021/91441508567421638.jpg?w=640&amp;h=360</string>
		</array>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>/itver/_img/15/2016/icon_portrait.png</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>大气、沉稳～</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/13924336748/20170808/7201502164449567.jpg</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>明日家具家装上市公司股票代码002713</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=32973&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>各种卧室风格</string>
		<key>exttime</key>
		<string>20171021142252</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>明日家具家装上市公司–赵先生</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56015</integer>
		<key>portrait</key>
		<string>/itver/_img/13924336748/20170808/56431502455100518.jpg</string>
		<key>remark</key>
		<string>国内第一，家装行业领导者，一直被模仿，从未被超越。(明日家具就是牛)</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/13924336748/20171017/87861508566910982.jpg</string>
		<key>title</key>
		<string>各种卧室风格</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56015&amp;promote=12345678910</string>
		<key>userid</key>
		<string>13924336748</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string>/itver/_img/15017056108/20170826/7211503717394716.jpg</string>
		<key>companyparams</key>
		<dict>
			<key>name</key>
			<string>搜道集团总公司慧百分公司</string>
			<key>url</key>
			<string>http://shop.jiain.net/wemall/page/index?s=34276&amp;promote=12345678910</string>
		</dict>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>最有钱的东莞人，你知道是谁吗？在最新的中国富豪榜中他在全国排名12，身家1000亿是最有钱的莞商但他却极为低调，开着20多万的小车每个人都用过他设计的产品但很多人甚至都不知道他他就是张志东</string>
		<key>exttime</key>
		<string>20171021142138</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>冯晓强nlp～彩红</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>1</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56014</integer>
		<key>portrait</key>
		<string>/itver/_img/15017056108/20170826/73731503711411321.jpg</string>
		<key>remark</key>
		<string>一个人值钱比有钱更重要</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15017056108/20170826/98641508566342512.jpg</string>
		<key>title</key>
		<string>这个极低调的东莞仔，身家1000亿，却只开20万的小车！</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/note/index?pid=56014&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15017056108</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
